@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('./19-10/spp_clients.css');
* {
    font-family: 'Poppins', sans-serif;
    font-weight: 500
}

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}